---
title: Norse Sans
---


<article class="w-100 contain bg-top" >
    <div class="white mv7">
      <div class="ma0 f4 f3-m f2-l fill lh-title w-100 overflow-hidden">
        <div class="db relative" id="hero">
          <!-- <div class="nowrap"><span class="grandis">Extensive </span>Château ∞ d’Eau. Małżeńską* “Sublykčiojusi!” Quijote þjófum@mail.io</div>

          <div class="nowrap"><span class="lemon-grass"> Efterårsjævndøgn.</span> Räksmörgås ◊ unt Øl ;  §90/a: 5×8 of 1987</div>

          <div class="nowrap"><span class="froly"> [2035]</span> — 6'2" • 180° m² Roughly 1/2 on 19/07/2011</div>

          <div class="nowrap">{plan.B} #amazeballs H&B £124 † Kærtegn ¶ <span class="monza">Nú «bæði»</span> víl og (ÁDREPA) Heizöl​rücksto​ßabdämpfung?</div>
          -->
          <div class="nowrap">
            <span>div→ [2035] — </span><span class="grandis"> Funky figures </span><span class="onum">6'2" • 180° m²</span>
          </div>

          <div class="nowrap"><span class="monza"> Sick ligatures </span><span class="dlig">rf rt</span></div>

        </div>
      </div>
    </div>
</article>

<div class="row z-1 relative">



  <div class="mt3 mt5-ns flex-ns flex-row cf">
    <div class="w-100 w-40-ns mb4 pa0 pa3-ns">
      <ul class="list pa0  f7 tracked ttu">
        <li class="mt3">Designed by — <a href="http://graz.io">Sebastian Graz</a></li>
        <li class="mt3">Supports — Latin Extended A</li>
        <li class="mt3">Released — 11th October 2017</li>
      </ul>
      <a href="downloads/NorseSans.zip" class="pv3 ph4 mt2  dib hover-bg-black tracked ttu bg-white black">Download</a>
    </div>
    <div class="w-100 w-50-ns pa0 pa3-ns f5 fl measure m-left-auto lh-copy">
      <p class="f4 ma0 ">A typeface for the modern world — An exciting combo between grotesque principles and legibility.</p>
      <p class="silver">
        Norse really shines when small due to it's spacious layout of shapes rendering it ideal for body text. But sports enough pizzazz to be used in titles and print design.
      </p>
    </div>
  </div>


  <div class="mv3 mv5-ns cf">
    <p>4 Weights</p>
    <div class="cf">
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object flex justify-center items-center">
            <div class="absolute f7 pale bottom-1 tc w-100">Bold</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib  random">Rr</span>
            </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object flex justify-center items-center">
           <div class="absolute f7 pale bottom-1 tc w-100">Medium</div>
            <div class="relative">
             <span class="f1 f-6-l f1-ns mb3 dib  random">Gg</span>
            </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object flex justify-center items-center">
            <div class="absolute f7 pale bottom-1 tc w-100">Regular</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib  random">Xx</span>
            </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object flex justify-center items-center">
            <div class="absolute f7 pale bottom-1 tc w-100">Light</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib  random">Qq</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
