---
title: Norse Sans
---

<div class="row">
  <div class="mt5 mt6-ns">
    <h1 class="left-0 top-0 ma0 mt5 mt6-ns w-100 tc lh-solid z--1 fixed" id="fill">
      <span class="isometric db custom-text-indent tracked fw9 fw4-m transparent fw1-ns relative pink">N<span class="randomdia">O</span>RSE</span>
    </h1>
  </div>
  <div class="mt6 mt7-ns  cf">
    <div class="w-100 w-50-ns pa0 pa3-ns fl">
      <ul class="list pa0">
        <li class="mt3">Designed by <a href="http://graz.io">Sebastian Graz</a></li>
        <li class="mt3">Supports Latin Extended A</li>
        <li class="mt3">Released 11th October 2017</li>
      </ul>
    </div>
    <div class="w-100 w-50-ns pa0 pa3-ns fl f4">
      <p class="f3">Norse — A geometric sans-serif designed for the modern world.
Sourcing inspiration from grotesque and geometric typefaces makes it a lovable combo.</p>

      <p >
        Norse really shines when small due to it's spacious layout of shapes making it ideal for body text. But offers enough quirkiness to be used as a headers and heroes.
      </p>
      <p class="f5">
        Download a small specimen and try the typeface yourself for free. If like what you see, you can purchase all the glyphs.
      </p>
    </div>
  </div>


  <div class="mt3 mt5-ns cf">
    <p>4 Weights</p>
    <div class="cf">
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-white black flex justify-center items-center">
            <div class="absolute f7 pale pink bottom-1 tc w-100">Bold</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib fw9 random">Rr</span>

            </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-white black flex justify-center items-center">
           <div class="absolute f7 pale pink bottom-1 tc w-100">Medium</div>
            <div class="relative">
             <span class="f1 f-6-l f1-ns mb3 dib fw5 random">Gg</span>

           </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-white black flex justify-center items-center">
            <div class="absolute f7 pale pink bottom-1 tc w-100">Regular</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib fw4 random">Xx</span>

            </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-white black flex justify-center items-center">
            <div class="absolute f7 pale pink bottom-1 tc w-100">Light</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib fw2 random">Qq</span>

             </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="mt3 mt5-ns cf">
      <div class="cf">
        <nav class="flex justify-between weight">
          <a class="dib f4 f3-ns tc pv3" data-weight="fw9">Bold</a>
          <a class="dib f4 f3-ns tc pv3" data-weight="fw5">Medium</a>
          <a class="dib f4 f3-ns tc pv3" data-weight="fw4">Regular</a>
          <a class="dib f4 f3-ns tc pv3" data-weight="fw2">Light</a>
        </nav>
      </div>
      <div class="charset medium pa1">
        <% data.charset.characters.each do |f| %>
          <div class="w-25 w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object ba b--white hover-bg-white hover-black flex justify-center items-center">
               <span class="f2 f1-ns dib">
                 <%= f + f.downcase %>
               </span>
              </div>
            </div>
          </div>
        <% end %>
        <% data.charset.numerals.each do |f| %>
          <div class="w-25 w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object ba b--white hover-bg-white hover-black flex justify-center items-center">
               <span class="f2 f1-ns dib">
                 <%= f %>
               </span>
              </div>
            </div>
          </div>
        <% end %>
        <% data.charset.punctuation.each do |f| %>
          <div class="w-25 w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object ba b--white hover-bg-white hover-black flex justify-center items-center">
               <span class="f2 f1-ns dib">
                 <%= f %>
               </span>
              </div>
            </div>
          </div>
        <% end %>
        <% data.charset.symbols.each do |f| %>
          <div class="w-25 w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object ba b--white hover-bg-white hover-black flex justify-center items-center">
               <span class="f2 f1-ns dib">
                 <%= f %>
               </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>

  <div class="mv5">
    Typeface & Website under construction.
  </div>
</div>
