---
title: Norse Sans
---

<div class="row">
  <div class="mt5 mt6-ns">
    <h1 class="left-0 ma0 w-100 tc lh-solid tracked fw2 z--1 fixed" id="fill">
      <span class="isometric db custom-text-indent dark-red relative">NORSE</span>
    </h1>
  </div>
  <div class="mt5 cf">
    <div class="w-100 w-50-ns pa0 pa3-ns fl">
      <ul class="list pa0">
        <li class="mt3">Designed by <a href="http://graz.io">Sebastian Graz</a></li>
        <li class="mt3">Supports Latin Extended A</li>
        <li class="mt3">Released 11th October 2017</li>
      </ul>
    </div>
    <div class="w-100 w-50-ns pa0 pa3-ns fl f4">
      <p>Norse is a monolinear geometric grotesque typeface. It’s meant to be easily read on displays due to it’s high x-height. But it offers a lot of character</p>
      <p>Norse Typeface features 90° degree angled terminals to ensure the rendering of the font looks good in all sizes, but especially body sized text.</p>
    </div>
  </div>


  <div class="mt3 mt5-ns cf">
    <p>4 Weights</p>
    <div class="cf">
      <div class="fl w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-white black ba b--black flex justify-center items-center">
            <div class="absolute f7 pale red bottom-1 tc w-100">Bold</div>
            <div class="relative">
              <span class="f-5 mb3 f-5-l f1-ns dib fw9 random">Rr</span>

            </div>
          </div>
        </div>
      </div>
      <div class="fl w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-white black ba b--black flex justify-center items-center">
           <div class="absolute f7 pale red bottom-1 tc w-100">Medium</div>
            <div class="relative">
             <span class="f-5 mb3 f-5-l f1-ns dib fw5 random">Gg</span>

           </div>
          </div>
        </div>
      </div>
      <div class="fl w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-white black ba b--black flex justify-center items-center">
            <div class="absolute f7 pale red bottom-1 tc w-100">Regular</div>
            <div class="relative">
              <span class="f-5 mb3 f-5-l f1-ns dib fw4 random">Xx</span>

            </div>
          </div>
        </div>
      </div>
      <div class="fl w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-white black ba b--black flex justify-center items-center">
            <div class="absolute f7 pale red bottom-1 tc w-100">Light</div>
            <div class="relative">
              <span class="f-5 mb3 f-5-l f1-ns dib fw2 random">Qq</span>

             </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="mt3 mt5-ns cf">
      <div class="cf mb3">
        <span class="w-25 fl">Basic Latin Characters</span>
        <div class="w-75 fl">
            <nav class="weight">
              <a class="dib fr ml2" data-weight="fw9">Bold</a>
              <a class="dib fr ml2" data-weight="fw5">Medium</a>
              <a class="dib fr ml2" data-weight="fw4">Regular</a>
              <a class="dib fr ml2" data-weight="fw2">Light</a>
            </nav>
        </div>
      </div>
      <div class="charset medium">
        <% data.charset.characters.each do |f| %>
          <div class="w-25 w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object ba b--white hover-bg-white hover-black flex justify-center items-center">
               <span class="f2 f1-ns dib">
                 <% if !f.index( /[^[:alpha:]]/ ) %>
                   <%= f + f.downcase %>
                 <% else %>
                   <%= f %>
                 <% end %>
               </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>

  <div class="mv5">
    Typeface & Website under construction.
  </div>
</div>
